<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-tab" lay-filter="nav-tabs-index">
            <ul class="layui-tab-title">
                <li class="layui-this" data-value="1" data-field="scope">{:fy("It's mine")}</li>
                <li data-value="2" data-field="scope">{:fy('Subordinate')}</li>
                <li data-value="3" data-field="scope">{:fy('All')}</li>
                <li data-value="10" data-field="scope">{:fy('To be followed')}</li>
                <li data-value="11" data-field="scope">{:fy('Followed up today')}</li>
                <li data-value="12" data-field="scope">{:fy('Never followed up')}</li>
            </ul>
        </div>
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('crm.clue/add')}"
               data-auth-edit="{:auth('crm.clue/edit')}"
               data-auth-delete="{:auth('crm.clue/delete')}"
               data-auth-import="{:auth('crm.clue/import')}"
               data-auth-export="{:auth('crm.clue/export')}"
               data-auth-fields="{:auth('system.fields/index')}"
               data-auth-toCustomer="{:auth('crm.clue/toCustomer')}"
               data-auth-alterPrUser="{:auth('crm.clue/alterPrUser')}"
               data-auth-toPool="{:auth('crm.clue/toPool')}"
               data-auth-record_add="{:auth('crm.clue_record/add')}"
               data-auth-sendEmail="{:auth('crm.clue/sendEmail')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>
