<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form layui-form-pane">
        
        <div class="layui-form-item">
            <label class="layui-form-label">客户对应id</label>
            <div class="layui-input-block">
                <input type="text" name="customer_id" class="layui-input" lay-verify="required" placeholder="请输入客户对应id" value="{$row.customer_id|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户名称</label>
            <div class="layui-input-block">
                <input type="text" name="customer_name" class="layui-input" lay-verify="required" placeholder="请输入客户名称" value="{$row.customer_name|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">操作人ID</label>
            <div class="layui-input-block">
                <input type="text" name="create_admin_id" class="layui-input" lay-verify="required" placeholder="请输入操作人ID" value="{$row.create_admin_id|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">操作人</label>
            <div class="layui-input-block">
                <input type="text" name="create_username" class="layui-input" lay-verify="required" placeholder="请输入操作人" value="{$row.create_username|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">操作对象</label>
            <div class="layui-input-block">
                <input type="text" name="on" class="layui-input" lay-verify="required" placeholder="请输入操作对象" value="{$row.on|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">操作前值</label>
            <div class="layui-input-block">
                <input type="text" name="before_value" class="layui-input" lay-verify="required" placeholder="请输入操作前值" value="{$row.before_value|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">操作后值</label>
            <div class="layui-input-block">
                <input type="text" name="after_value" class="layui-input" lay-verify="required" placeholder="请输入操作后值" value="{$row.after_value|default=''}">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>{:fy('Confirm')}</button>
                        <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">{:fy('Reset')}</button>
        </div>

    </form>
</div>