<div class="layuimini-container">
  <form id="app-form" class="layui-form layuimini-form">

    <div class="layui-form-item">
      <label class="layui-form-label">勾选更新表</label>
      <div class="layui-input-block">
        <div id="multiple-select"></div>
      </div>
    </div>
    <div class="hr-line"></div>
    <div class="layui-form-item text-center">
      <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>{:fy('Confirm')}</button>
      <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">{:fy('Reset')}</button>
    </div>

  </form>
</div>