<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('crm.order/add')}"
               data-auth-addOrder="{:auth('crm.order/add')}"
               data-auth-edit="{:auth('crm.order/myedit')}"
               data-auth-delete="{:auth('crm.order/mydel')}"
               data-auth-import="{:auth('crm.order/import')}"
               data-auth-export="{:auth('crm.order/export')}"
               data-auth-fields="{:auth('crm.order.fields/index')}"
               data-auth-desc="{:auth('crm.order/desc')}"
               data-auth-alter_pr_user="{:auth('crm.order/alter_pr_user')}"
               data-auth-editAudit="{:auth('crm.order/editAudit')}"
               data-auth-sendEmail="{:auth('crm.order/sendEmail')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>