<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('device/add')}"
               data-auth-edit="{:auth('device/edit')}"
               data-auth-delete="{:auth('device/delete')}"
               data-auth-sale="{:auth('device/sale')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>
<script type="text/html" id="toolbar">
    <button class="layui-btn layui-btn-sm layuimini-btn-primary" data-treetable-refresh><i class="fa fa-refresh"></i> </button>
</script>