<IfModule mod_rewrite.c>
    Options +FollowSymlinks -Multiviews
    RewriteEngine On

   # ??????? upload ?????? PHP ??????????? 404 Not Found
   RewriteCond %{REQUEST_URI} ^/upload/.*\.php$
   RewriteRule ^ - [R=404,L]
   RewriteCond %{REQUEST_URI} ^/static/.*\.php$
      RewriteRule ^ - [R=404,L]

    # ???????????????????????????????????? index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?s=$1 [QSA,PT,L]
</IfModule>
