<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-tab" lay-filter="nav-tabs-index">
            <ul class="layui-tab-title">
                <li class="layui-this" data-value="pending" data-field="scope">待处理</li>
                <li data-value="read" data-field="scope">已读</li>
                <li data-value="all" data-field="scope">全部</li>
            </ul>
        </div>
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-delete="{:auth('crm.reminder/delete')}"
               data-auth-detail="{:auth('crm.reminder/detail')}"
               data-auth-markRead="{:auth('crm.reminder/markRead')}"
               data-auth-markAllRead="{:auth('crm.reminder/markAllRead')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>
