<div class="layuimini-container">
    <div class="layuimini-main">

        <div class="layui-tab" lay-filter="nav-tabs-index">
            <ul class="layui-tab-title">
                <li   class="layui-this" data-value="all" data-field="scope">全部</li>
                <li  data-value="audit" data-field="scope">待审核</li>
            </ul>
        </div>

        <table id="currentTable" class="layui-table layui-hide"
               data-auth-delete="{:auth('process.audit/delete')}"
               data-auth-audit="1"
               lay-filter="currentTable">
        </table>
    </div>
</div>