<!doctype html>
<html>
<head>

    {include file="public/head"/}
    <script src="__MY_PUBLIC__/static/js/jquery.js"></script>

</head>
<body>
<div class="wrap">
    {include file="public/header"/}
    <section class="section">
        <div style="padding: 40px 20px;">
            <div class="text-center">
                <a style="font-size: 18px;">恭喜您，安装完成！</a>
                <br>
                <br>
                <div class="alert alert-danger" style="width: 360px;display: inline-block;text-align: left;">
                    为了您的站点安全，安装完成后请将"app/install"文件夹和install.php文件删除;
                    <br>另请对config/database.php文件做好备份，以防丢失！
                    <br>请对后台文件admin.php重命名提高后台访问安全，那么重命名后的访问地址就是域名+重命名后的文件名.php访问
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn-success" href="/admin.php">进入后台</a>
            </div>

        </div>
    </section>
</div>

{include file="public/footer"/}
</body>
</html>