<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-tab" lay-filter="nav-tabs-index">
            <ul class="layui-tab-title">
                <li class="layui-this" data-value="1" data-field="scope">{:fy("It's mine")}</li>
                <li  data-value="2" data-field="scope">{:fy('Subordinate')}</li>
                <li  data-value="3" data-field="scope">{:fy('All')}</li>
            </ul>
        </div>
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('crm.customer/add')}"
               data-auth-edit="{:auth('crm.customer/edit')}"
               data-auth-delete="{:auth('crm.customer/delete')}"
               data-auth-import="{:auth('crm.customer/import')}"
               data-auth-fields="{:auth('system.fields/index')}"
               data-auth-success_bgshow="{:auth('crm.customer/success_bgshow')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>
